/calculated_info/
/Original_Data/
/particle_data/
/SPARTA_data/
/.vscode/
/Random_figures/
test.py
/sparta/
qiskit-vscode-log.out
/figures/
/training_data/
/pygadgetreader/
/np_arrays/
/sparta/
/__pycache__/
/MLOI_venv/
/pygadgetreader/
.python-version
/sparta/
/sparta_dev/
/xgboost_datasets_plots/
/pickle_data/