/calculated_info/
/SPARTA/
/.vscode/
/Random_figs/
test.py
/.sparta_dev/
/sparta/
/figures/
/training_data/
/__pycache__/
/.pygadgetreader/
.python-version
/xgboost_results/
/pickle_data/
/utils/__pycache__/