/ML_dsets/
/SPARTA/
/.vscode/
/Random_figs/
/.sparta_dev/
/sparta/
/__pycache__/
/.pygadgetreader/
/pygadgetreader/
.python-version
/xgboost_results/
/pickle_data/
/src/__pycache__/
/src/utils/__pycache__/
*.ipynb
*.sh
*.out
my_venv/
athena_venv/
mlois_venv/
.dask/
dask_logs/
MLOIS.egg-info
/src/test.py
src/utils/__pycache__/
ATHENA.egg-info/
conv_file_type.py
