cloudpickle==3.1.1
colossus==1.3.9
contourpy==1.3.2
cycler==0.12.1
fonttools==4.59.2
h5py==3.14.0
joblib==1.5.2
kiwisolver==1.4.9
llvmlite==0.44.0
matplotlib==3.10.6
numba==0.61.2
numexpr==2.12.1
numpy==2.2.6
packaging==25.0
pandas==2.3.2
pillow==11.3.0
psutil==7.0.0
pyarrow==21.0.0
pyGadgetReader==2.6
pyparsing==3.2.4
python-dateutil==2.9.0.post0
pytz==2025.2
scikit-learn==1.7.2
scipy==1.15.3
-e git+ssh://git@github.com/ZevVladimir/shap.git@ed9e0f424e984fdcd5b63414e4cb4346801ef5ff#egg=shap
six==1.17.0
slicer==0.0.8
sparta-tools==1.0.0
threadpoolctl==3.6.0
tqdm==4.67.1
typing_extensions==4.15.0
tzdata==2025.2
xgboost==3.0.5
